/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #446787;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}

button,
input,
select {
  font-family: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #007bff;
  }
} */

a {
  text-decoration: inherit;
  color: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--link-hover-color);
}

body {
  margin: auto;
  max-width: 1400px;
  min-height: 100vh;
  padding: 10px;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--background-dark);
  color: var(--primary-color-light);
}

header,
footer {
  padding: 20px 0;
}

main {
  padding: 20px 0;
}

button {
  padding: var(--button-padding);
  background-color: var(--primary-color-light);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-color);
  transform: translateY(-2px);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-light: #ffffff;
    --primary-color-light: #213547;
  }

  body {
    background-color: var(--background-light);
    color: var(--primary-color-light);
  }

  button {
    background-color: var(--primary-color-light);
  }

  a:hover {
    color: var(--link-hover-color);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
input,
select {
  font-family: inherit;
}
